{% extends 'mainapp_layout.html' %}

{% block title %} Employee Management {% endblock title %}

{% block content %} 

<!-- Start of Bootstrap modal -->
<div class="modal fade" id="sign-out-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Do you want to leave?</h4>
                <button type='button' class='close text-danger' data-dismiss='modal'>&times;</button>
            </div>

            <div class="modal-body">
                <p>Click Logout to leave</p>
            </div>

            <div class="modal-footer">
                <button type='button' class='btn btn-success' data-dismiss='modal'>Stay Here</button>
                <a href="{{ url_for('home')}}" class="btn btn-danger">Log out</a>
            </div>
        </div>
        
    </div>

</div>
<!-- End of Bootstrap modal -->

<h1 class='text-center mt-4'>Sales Report</h1>
    
{% endblock content %}