{% extends 'base.html' %}

{% block content %}
<div class='container-fluid h-100'>
    <div class='row justify-content-center align-items-center'>
        <div class='col-lg' id='homepage'>
            <h1 class='text-center text-light'>FRUITS AND WINE POS SYSTEM</h1>
            <div class='btndiv d-flex justify-content-center'>
                <a href="{{ url_for('login')}}" class='btn btn-primary btn-lg homebtn'>Login</a>
                <a href="{{ url_for('register')}}" class='btn btn-primary btn-lg homebtn'>Register</a>
            </div>
                
        </div>
    </div>



    <div class='row navbar navbar-fixed-bottom author'>
        <div class='col-lg'>
            <h4 class='author text-center text-muted'>Powered by Emedia bay</h4>
            <p class='text-center'><a href='https://www.emediabay.com' target='_blank'>www.emediabay.com</a></p>
        </div>
    </div>
</div>
 
{% endblock content %}