{% extends 'mainapp_layout.html' %}

{% block title %} Sell Goods {% endblock title %}

{% block content %} 



<!-- Start of Dashboard Cards-->
<section>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-12 col-xl-12 col-lg-12">
                <div class="mt-2 p-2 sales-heading"><h4 class="text-center ">Sales/Billing</h4></div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xl-4 invoice">
                <h4 class="text-center">RECEIPT</h4>
                <div id="invoice-div"></div>
                <div id="output"></div>
            </div>
            
            <div class="col-lg-7 col-md-7 col-xl-7 mt-2">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4 mb-3">
                        <a href="#" class="custom-card" id='product-card'>
                            <div class="card" name='product-card'>
                                <img src="{{ url_for('static', filename='img/'+ product.image_file) }}" class="card-img-top" alt="..." height=100>
                                <div class="card-body">
                                    <h4 id="name">{{ product.name }}</h4>
                                    <p class="card-text">{{ product.category }}</p>
                                </div>
                            </div>
                         </a>
                    </div>
                    {% endfor %}
                </div>
                
                   

            </div>
            
        </div>
    </div>

</section>
<!-- End of dashboard cards -->

<!-- Start of Bootstrap modal -->
<div class="modal fade" id="sign-out-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Do you want to leave?</h4>
                <button type='button' class='close text-danger' data-dismiss='modal'>&times;</button>
            </div>

            <div class="modal-body">
                <p>Click Logout to leave</p>
            </div>

            <div class="modal-footer">
                <button type='button' class='btn btn-success' data-dismiss='modal'>Stay Here</button>
                <a href="{{ url_for('home')}}" class="btn btn-danger">Log out</a>
            </div>
        </div>
        
    </div>

</div>
<!-- End of Bootstrap modal -->

    
{% endblock content %}